<!DOCTYPE html>
<html ng-app="sportDBApp">
<head>
  <meta charset="utf-8">
  <title>Http Request with Angular SportDB</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js" charset="utf-8"></script>
  <script src="../controllers/sportDBController.js" charset="utf-8"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container py-4 text-justify" ng-controller="sportDBController">
    <div class="row">
      <div class="col">
        <h2 class="">{{player.player[0].strTeam}}</h2>
        <hr class="my-4">
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action" ng-click="getDetail(details.strThumb, details.strPlayer, details.strDescriptionEN)" ng-repeat="details in player.player | limitTo : 4 : 3 | orderBy : ['strSigning']">
            {{ details.strPlayer }}
          </a>
        </div>
        <hr class="my-4">
        <h4>Favorite Players</h4>
        <hr class="my-4">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="fav in favorite">{{fav}}
            <button type="button" class="btn btn-dark btn-sm float-right" ng-click="removeFromArray($index)"><i class="far fa-times-circle"></i></button>
          </li>
        </ul>
        <div class="wrapper text-center">
          <span class="badge badge-danger">{{message}}</span>
        </div>
      </div>
      <div class="col">
        <div class="media" ng-if="playerDescriptionEN.length > 0">
          <!-- ng-if="favorite.length > 0" -->
          <img class="mr-3" width="200" ng-src="http://{{imgThumb}}">
          <div class="media-body">
            <h5 class="mt-0">{{fullNamePlayer}}
              <button type="button" class="btn btn-dark btn-sm float-right" ng-show="button = true" ng-click="addToArray(fullNamePlayer)">
                <i class="far fa-thumbs-up"></i>
              </button>
            </h5>
            <small style="font-size: 11px">{{playerDescriptionEN}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
